<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
</head>
<header>
    <div class="container">
        <div class="gridh">
            <div class="item1">
                <p><a href="/product"><img class="n1" th:src="@{/img/images.png}"></a></p>
            </div>
            <div class="item2"><h1>Админ Панель!</h1></div>
            <div class="item3">
                <form class="b1" th:method="POST" th:action="@{/logout}">
                    <button type="" action="" class="btn btn-outline-light me-2">Выйти</button>
                </form></div>
            <div class="item6">
                <form class="b1" th:method="POST" th:action="@{/logout}">
                    <button type="" action="" class="btn btn-outline-light me-2">Выйти</button>
                </form></div>
                <!--                <form class="b1" action="/auth/registration">-->
                <!--                    <button type="" class="btn btn-outline-light me-2" >Регистрация</button></form>-->
            </div>
            <div class="item5">
                <!--                <form class="w-100 me-3" role="search">-->
                <!--                    <input type="search" class="form-control" placeholder="Я ищу" aria-label="Search"></form>-->
                <!--            </div>-->
                <div class="item7">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 dropdown">
                            <!--                        Заглушка пользователь-->
                            <!--                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
                            <!--                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"></a>-->
                            <!--                        <ul class="dropdown-menu text-small shadow" wfd-invisible="true" style="">-->
                            <!--                            <li><a class="dropdown-item" href="#">Вход</a></li>-->
                            <!--                            <li><a class="dropdown-item" href="#">Регистрация</a></li>-->
                            <!--                            <li><hr class="dropdown-divider"></li>-->
                            <!--                            <li><a class="dropdown-item" href="#">Выйти</a></li>-->
                            <!--                        </ul>-->
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
</header>
<body>
<div class="container">

<h3>Редактирование товара</h3>
    <div class="row row-cols-auto">
<form th:method="POST" th:action="@{/admin/product/edit/{id}(id=${editProduct.getId()})}" th:object="${editProduct}">
    <label for="title">Введите наименование: </label>
    <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="description">Введите описание: </label>
    <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>
    <br>
    <label for="price">Введите цену: </label>
    <input type="number" th:field="*{price}" min="1" step="0.00" id="price">
    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="warehouse">Введите информацию о складе: </label>
    <input type="text" th:field="*{warehouse}" placeholder="Склад" id="warehouse">
    <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="category">Выберите категорию товара: </label>
    <select name="category" th:field="*{category}" id="category">
        <div th:each="element : ${category}">
            <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
        </div>
    </select>
    <br>
    <br>
    <label for="seller">Введите данные о продавце: </label>
    <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
<!--  <p style="color: red">Редактирование фотографий.</p>-->
<!--    <p th:text="'Фотография ' + ${images.getFileName()}"/>-->
<!--    <a th:href="@{/admin/image/edit/{id}(id=${images.getId()})}">f</a>-->
<!--    <input type="file" name="file_one">-->
<!--    <input type="file" name="file_two">-->
<!--    <input type="file" name="file_three">-->
<!--    <input type="file" name="file_four">-->
<!--    <input type="file" name="file_five">-->
<!--    <input type="submit" value="Добавить">-->

    <br>
    <br>
    <input type="submit" value="Редактировать">
</form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{/js/index.js}"></script>
</body>
<footer>
    <div class="container">
        <div class="grid">
            <p class="col-md-4 mb-0 text-black">nomoc@bk.ru</p>
        </div>
    </div>
</footer>
</html>
