<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список товаров: </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
  <link rel="icon" href="img/iconpizza.png" type="iconpizza.png">
  <link rel="stylesheet" href="product.css">
</head>
<header>
  <div class="container">
    <div class="gridh">
      <div class="item1">
        <p><a href="/product"><img class="n1" th:src="@{/img/images.png}"></a></p>
      </div>
      <div class="item2"><h1>Все и сразу!</h1></div>
      <div class="item3">
        <form class="b1" action="/index">
          <button type="" action="/index" class="btn btn-outline-light me-2">Магазин</button>
        </form></div>
      <div class="item6">
        <form class="b1" action="/auth/registration">
          <button type="" class="btn btn-outline-light me-2" >Регистрация</button></form>
      </div>
      <!--                <div class="item5">-->
      <!--                <form class="w-100 me-3" role="search">-->
      <!--                <input type="search" class="form-control" placeholder="Я ищу" aria-label="Search"></form>-->
    </div>
    <div class="item7">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0 dropdown">
          <!--                                            Заглушка пользователь-->
          <!--                                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
          <!--                                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"></a>-->
          <!--                                            <ul class="dropdown-menu text-small shadow" wfd-invisible="true" style="">-->
          <!--                                                <li><a class="dropdown-item" href="#">Вход</a></li>-->
          <!--                                                <li><a class="dropdown-item" href="#">Регистрация</a></li>-->
          <!--                                                <li><hr class="dropdown-divider"></li>-->
          <!--                                                <li><a class="dropdown-item" href="#">Выйти</a></li>-->
          <!--                                            </ul>-->
        </div>
        <div>
        </div>
        <div>
        </div>
</header>
<body>
<div class="container">
  <h3>Редактирование пользователей</h3>
  <form method="POST" th:action="@{/admin/person/edit/{id}(id=${editPerson.getId()})}" th:object="${editPerson}">
    <label for="login">Введите логин: </label>
    <input type="text"  th:field="*{login}" placeholder="Введите пароль" name="username" id="login">
    <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <br>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" placeholder="Введите пароль" name="password" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br>
    <label for="role">Введите роль: </label>
    <input type="text" th:field="*{role}" placeholder="Введите роль" name="role" id="role">
    <div style="color: red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
    <br>
    <label for="last_name">Введите фамилию: </label>
    <input type="text" th:field="*{lastname}" id="last_name">
    <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
    <br>
    <label for="first_name">Введите имя: </label>
    <input type="text" th:field="*{firstname}" id="first_name">
    <div style="color: red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
    <br>
    <label for="patronymic">Введите отчество: </label>
    <input type="text" th:field="*{patronymic}" id="patronymic">
    <br>
    <label for="birthday">Введите возраст: </label>
    <input type="text" th:field="*{birthday}" placeholder="01.01.1900" id="birthday">
    <div style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
    <br>
    <label for="email">Введите email: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>
    <label for="phone_number">Введите номер телефона: </label>
    <input type="text" th:field="*{phoneNumber}" id="phone_number">
    <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
    <br>
    <input type="submit" value="Редактировать">
  </form>
</div>
</body>
<footer>
  <div class="container">
    <div class="grid">
      <p class="col-md-4 mb-0 text-black">nomoc@bk.ru</p>
    </div>
  </div>
</footer>
</html>