<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров: </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
    <link rel="icon" href="img/iconpizza.png" type="iconpizza.png">
    <link rel="stylesheet" href="product.css">
</head>
<header>
    <div class="container">
        <div class="gridh">
            <div class="item1">
                <p><a href="/product"><img class="n1" th:src="@{/img/images.png}"></a></p>
            </div>
            <div class="item2"><h1>Все и сразу!</h1></div>
            <div class="item3">
                <form class="b1" action="/index">
                    <button type="" action="/index" class="btn btn-outline-light me-2">Магазин</button>
                </form></div>
            <div class="item6">
                <form class="b1" action="/auth/registration">
                    <button type="" class="btn btn-outline-light me-2" >Регистрация</button></form>
            </div>
            <!--                <div class="item5">-->
            <!--                <form class="w-100 me-3" role="search">-->
            <!--                <input type="search" class="form-control" placeholder="Я ищу" aria-label="Search"></form>-->
        </div>
        <div class="item7">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0 dropdown">
                    <!--                                            Заглушка пользователь-->
                    <!--                                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
                    <!--                                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"></a>-->
                    <!--                                            <ul class="dropdown-menu text-small shadow" wfd-invisible="true" style="">-->
                    <!--                                                <li><a class="dropdown-item" href="#">Вход</a></li>-->
                    <!--                                                <li><a class="dropdown-item" href="#">Регистрация</a></li>-->
                    <!--                                                <li><hr class="dropdown-divider"></li>-->
                    <!--                                                <li><a class="dropdown-item" href="#">Выйти</a></li>-->
                    <!--                                            </ul>-->
                </div>
                <div>
                </div>
                <div>
                </div>
</header>
<body>
<div class="container">
    <h3>Список пользователей: </h3>
    <div>
        <br>
        <a href="/admin/person/sorting_and_searching_and_filters">Поиск, сортировка, фильтрация</a>
        <br>
        <br>
        <div th:each="element : ${person}">
            <a th:href="@{/admin/person/info/{id}(id=${element.getId()})}" th:text="${element.getLastname()}"></a>
        </div>
    </div>
</div>
</body>
<footer>
    <div class="container">
        <div class="grid">
            <p class="col-md-4 mb-0 text-black">nomoc@bk.ru</p>
        </div>
    </div>
</footer>
</html>