<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров: </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
    <link rel="icon" href="img/iconpizza.png" type="iconpizza.png">
    <link rel="stylesheet" href="product.css">
</head>
<header>
    <div class="container">
        <div class="gridh">
            <div class="item1">
                <p><a href="/index"><img class="n1" th:src="@{/img/images.png}"></a></p>
            </div>
            <div class="item2"><h1>Все и сразу!</h1></div>
            <div class="item3">
                <form class="b1" action="/auth/login">
                    <button type="" th:action="@{/logout}" class="btn btn-outline-light me-2">Выйти</button>
                </form></div>
            <div class="item6">
                <form class="b1" action="/cart">
                    <button type="" class="btn btn-outline-light me-2">Корзина</button></form>
            </div>
            <div class="item8">
            <div class="col"><a class="btn btn-outline-light me-2" href="/admin/person/edit/2/">Изменить пароль</a></div>
            </div>
<!--            <div class="item5">-->
<!--                <form class="w-100 me-3" role="search">-->
<!--                    <input type="search" class="form-control" placeholder="Я ищу" aria-label="Search"></form>-->
<!--            </div>-->
            <div class="item7">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:src="@{/img/user.png}" alt="mdo" width="64" height="64" class="rounded-circle"></a>
                        <ul class="dropdown-menu text-small shadow" wfd-invisible="true" style="">
                            <li><a class="dropdown-item" href="#">Вход</a></li>
                            <li><a class="dropdown-item" href="#">Регистрация</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Выйти</a></li>
                        </ul>
                    </div>

</header>
<body>
<div class="container">
    <div class="row row-cols-auto">
<!--<form  method="get" th:action="@{/admin/person/edit/{id}(id=${person.getId()})}">-->
<!--    <input class="btn btn-outline-light me-2" id="btn-product" type="submit" value="Изменить пароль">-->
<!--</form>-->

    </div>
<form th:method="POST" th:action="@{/product/search}">
    <fieldset>
        <legend>Выберите параметры для сортировки, поиска, фильтрации</legend>
        <br>
        <label for="search">Поиск по наименованию</label>
        <input type="search" name="search"  th:value="*{value_search}" id="search">
        <br>
        <p>Цена, ₽</p>
        <label for="ot">От</label>
        <input type="text" name="ot"  th:value="*{value_price_ot}" id="ot">
        <label for="do">До</label>
        <input type="text" name="do"  th:value="*{value_price_do}" id="do">
        <br>
        <br>
        <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
        <label for="ascending_price">Отсортировать по возрастанию цены</label>
        <br>
        <br>
        <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
        <label for="descending_price">Отсортировать по убыванию цены</label>
<!--        <p>Категория товаров: </p>-->
<!--        <input type="radio" id="furniture" name="category" value="furniture">-->
<!--        <label for="furniture">Мебель</label>-->
<!--        <br>-->
<!--        <br>-->
<!--        <input type="radio" id="appliances" name="category" value="appliances">-->
<!--        <label for=appliances>Бытовая техника</label>-->
<!--        <br>-->
<!--        <br>-->
<!--        <input type="radio" id="clothes" name="category" value="clothes">-->
<!--        <label for="clothes">Одежда</label>-->
<!--        <br>-->
<!--        <br>-->
        <br>
        <input class="btn btn-outline-light me-2" type="submit" value="Найти">
    </fieldset>
</form>
<h3>Доступные товары: </h3>
    <div class="container text-center">
            <div class="row row-cols-4">
<div class="p-3 border bg-light" th:each="product : ${products}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="160cm" height="320cm">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title"></a>
    <br>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <br>
    <a class="btn btn-outline-light me-2" th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить в корзину</a>
</div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <div class="container">
        <div class="grid">
            <p class="col-md-4 mb-0 text-black">nomoc@bk.ru</p>
        </div>
    </div>
</footer>
</html>

