@font-face{
    font-family:'Redonda script One';
    src:url('/font/Redonda-script-One.ttf');
}

.grid {

    margin: 20px;
    display: grid;
    font-weight: bold;
    background-color: #e27193;
    border-radius: 30px;
}
.gridh {
    margin: 20px;
    display: grid;
    font-weight: bold;
    background-color: #e27193;
    border-radius: 30px;
    font-family: 'Redonda script One';
}
.item1 {
    grid-column: span 1;
    margin: 20px;
    margin-left: 90px;
}

.item2 {
    grid-column: span 4;
    grid-row: span 1;
    margin: 20px;
    margin-right: 80px;
    text-align: left;
}

.item3 {
    grid-row: span 1;

}

.item10 {
    grid-column: span 2;

}

.n1{
    border-radius: 300px;
    width: 26%;
    margin: 5px;

}
.item4 {
    grid-column: span 2;

}
.item5 {
    margin: 5px;
    grid-column-start: span 4;
    margin-left: 290px;
}
.b1 {
    color: #e27193;
    margin: 10px;
}
.n2{
    width: 29%;
    height: 35%;


}
.btn{
    background-color: #e27193;
}
.item6 {
    grid-column-start: 7;
    grid-row-start: 1;
    margin-left: -54px;
}
.item7 {
    grid-column-start: 7;
    margin-left: -45px;
    grid-row-start: 2;
    margin: 30px;
}
.i1{
    align-items: center;
    max-width: 450px;
    padding: 5px;
    margin: 0 auto;
    display: grid;
}
.flex-container {
    display: flex;
    width: 300px;
    height: 150px;
    align-items: center;
    padding: 10px;
    background-color: #a22c2c;
    align-content: stretch;

}
.flex-container_element-1,
.flex-container_element-2,
.flex-container_element-3,
.flex-container_element-4 {
    flex-basis: 70px;
    text-align: center;
    padding: 15px;
    font-size: 30px;
}
.flex-container_element-1 {
    align-self: flex-start;
    background: #fe4;
}
.flex-container_element-2 {
    align-self: flex-end;
    background: pink;
}
.flex-container_element-3 {
    align-self: stretch;
    background: lime;
}
.flex-container_element-4 {
    align-self: auto;
    background: cyan;
}
.row {
    border: 1px solid rgba(234, 182, 199, 0.95);
    /*background-color: rgba(234, 182, 199, 0.95);*/
    border: 2px solid #ffffff;
}
.colw{
    /*background-color: navy;*/
    /*border: 1px solid rgba(234, 182, 199, 0.95);*/
    align-self: flex-start;
    align-items: center;
    grid-area: с;
}
.col{
    /*background-color: #248000;*/
    /*border: 1px solid rgba(234, 182, 199, 0.95);*/
}
